@import "../styles/variables";

.Item {
    border: 1px solid #ccc;
    background: $secondary;
    min-height: 200px;
   
    margin-bottom: 1em;
    &:hover {
        background: #ccc;
        cursor: pointer;
    }
    .question {
        display: flex;
        justify-self: center;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 15px 0;
    }
    .answer {
        background: white;
        height: 100%;
        padding: 15px;
        .answer-body {
            text-align: left;
            line-height: 1.4rem;
        }
    }
}