@import "../../styles/variables";

.Item {
    border: 1px solid #ccc;
    background: #fff;
    // min-height: 150px;
    box-shadow: 1px 1px 1px 1px $shadow;
    border-radius: 5px;
   
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
        background: #fefefe;
        box-shadow: none;
        cursor: pointer;
    }
    .question {
        // border: 1px solid red;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px 0 5px;
        
    }
    .answer {
        background: #ddd;
        height: 100%;
        padding: 15px;
        .answer-body {
            text-align: left;
            line-height: 1.4rem;
        }
    }
    pre {
        background: #efefef;
        overflow-x: scroll;
        padding: 10px;
        code {
            font-size: 0.8rem;
        }
    }
    .categories {
        // border: 1px solid red;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        // display: flex;
        display: flex;
        justify-self: flex-start;
        li {
            font-size: 0.6rem;
            margin: 0 5px;
            text-transform: uppercase;
            // background: red;
        }
    }

}